* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}

body {
    overflow-x: hidden;
    color: rgba(29, 29, 31);
    letter-spacing: -0.05em;
    background-color: white;
}

p {
    line-height: 1.6;
}

a {
    all: unset;
    color: rgba(29, 29, 31);
    cursor: pointer;
}

.global_nav {
    height: 44px;
    padding-left: 20px;
    padding-right: 20px;
}

.local_nav {
    height: 52px;
    border-bottom: 1px solid #ddd;
    padding-left: 20px;
    padding-right: 20px;
}

.global_nav_links,
.local_nav_links {
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
}

.global_nav_links {
    justify-content: space-between;
}

.logo {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    font-size: 1.3em;
    margin-right: auto;
    letter-spacing: -0.05em;
}

.product_scribe {
    margin-left: 2em;
    font-size: 0.8em;
    color: rgb(90, 90, 90);
}

.scroll_section {
    padding-top: 50vh;
}

#scroll_section_0 h1 {
    font-size: 4rem;
    text-align: center;
}

.main_message {
    display: flex;
    align-items: center;
    font-size: 2.3em;
    justify-content: center;
    height: 3em;
}

.main_message p {
    line-height: 1.2;
    text-align: center;
}

.main_message small {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5em;
}

.description {
    font-size: 1.2rem;
    color: rgb(90, 90, 90);
    padding: 0 1rem;
}

.description strong {
    float: left;
    margin-right: 0.2em;
    font-size: 3rem;
    color: black;
}

#scroll_section_2 .main_message {
    line-height: 1;
    font-weight: bold;
    font-size: 3.5rem
}

.desc_message {
    font-weight: 600;
    width: 50%;
}

.pin {
    width: 1px;
    height: 100px;
    background-color: black;
}

.mid_message {
    font-size: 2rem;
    padding: 0 1rem;
    color: rgb(90, 90, 90);
}

.mid_message strong {
    color: black;
}

.canvas_caption {
    color: rgb(90, 90, 90);
    padding: 0 1rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    margin-top: 10em;
    border-top: 1px solid #ddd;
}

@media (min-width: 1024px) {
    #scroll_section_0 h1 {
        font-size: 7rem;
    }

    #scroll_section_0 .main_message {
        font-size: 4rem;
    }

    #scroll_section_1 strong {
        font-size: 5rem;
    }
    .description {
        font-size: 1.8rem;
        max-width: 1000px;
        padding: 0 3.3em;
    }

    #scroll_section_2 small {
        font-size: 2rem;
    }

    #scroll_section_2 .main_message {
        font-size: 5rem;
    }

    #scroll_section_2 .desc_message {
        font-size: 1.3rem;
    }
    .mid_message {
        max-width: 1000px;
        padding: 0 5rem;
        font-size: 4vw;
        color: #888;
        line-height: 1.3;
    }
    .canvas_caption {
        max-width: 1000px;
        padding: 0 5rem;
        font-size: 1.8rem;
    }
}